
.header{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu li{
    border: 2px solid transparent;
    border-radius: 4px;
}

.header-menu li:hover{
    border-color:greenyellow;
}

.header-menu a{
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block;
    text-transform: uppercase;
}

.header-menu a:hover{
    text-decoration: none;
    color: #141414;
}

@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 30px;
    }

    .header-menu li{
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .header-menu a{
        font-size: 0.9rem;
    }
}
