
body{
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #141414;
}

h1, h2, h3, p{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.subtitulo{
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    word-break: break-all;
    max-width: 5ch;
    text-align: center;
}

@media(max-width:700px){
    .subtitulo{
        font-size: 3rem;
        max-width: initial;
    }
}